.menu {
  text-align: right;
}
h2 {
  font-size:1.5rem;
  text-align:center;
}

figcaption {
  display: none;
}

#video {
  margin-left: auto;
  margin-right: auto;
  display:block;
  
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px;
}
.grid-item {;;
  padding: 0px;
  font-size: 12px;
  text-align: center;
}